<form>
	<div class="form-group">
		<label for="nome">Nome</label>
		<input type="text" class="form-control" id="nome"
			placeholder="Nome">
	</div>

	<div class="form-group">
		<label for="email">E-mail</label>
		<input type="email" class="form-control" id="email"
			placeholder="mail@mail.com" aria-describedby="emailHelp">
		<small id="emailHelp" class="form-text text-muted">We'll never share your
			email with anyone else.</small>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>