<section>
<!--
  <article>
    <h3>Interpolação!</h3>
    <p>String: {{ url }}</p>
    <p>Expressões: {{ 1 + 1 }} e {{ 1 + 1 + getValor() }}</p>
    <p>Expressões Lógicas: {{ like || getFalse() }}, {{ like && getFalse() }},
      {{ !getFalse() }}</p>
  </article>

  <article>
    <h3>Property DataBinding!</h3>
    <img src="{{ urlImagem }}" alt="">
    <img [src]="urlImagem" alt="">
    <img bind-src="urlImagem" alt="">
  </article>
  
  <article>
    <h3>Class e Style DataBinding!</h3>
    <div>
      Selecione uma Classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
    </div>
    
    <div class="alert" role="alert" [class.alert-success]="classe.value ==
      'alert-success'">...</div>
    <div class="alert" role="alert" [class.alert-info]="classe.value ==
      'alert-info'">...</div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value ==
      'alert-warning'">...</div>

    <div class="alert" role="alert" [class.alert-danger]="classe.value ==
      'alert-danger'">...</div>
    <div class="alert {{ classe.value }}" role="alert">Outros</div>

    <div class="alert alert-danger" role="alert" [style.display]="classe.value
      == 'alert-danger' ? 'block' : 'none'">Esse texto em caso de Danger</div>
  </article>
  
  <article>
    <h3>Event DataBinding!</h3>
    <div>
      <button (click)="mostraLog()" class="btn btn-primary">Entrar</button>
    </div>
    <br>

    <input type="text" (keyup)="mostraEvento($event)"
      (keyup.enter)="salvarValor($event.target.value)"
      (blur)="salvarValor($event.target.value)" />
    <p>Valor Atual: {{ valorAtual }}</p>
    <p>Valor Salvo: {{ valorSalvo }}</p>
    <br>
    <span (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
      Passe o mouse em cima!
    </span>

  </article>

  <article>
    <h3>Two Way DataBinding!</h3>
    <div>

      <input type="text"
        [value]="nome"
        (input)="nome= $event.target.value"
        />
      <input type="text" [ngModel]="nome" (ngModelChange)="nome= $event" />
      <input type="text" [(ngModel)]="nome" />
      <p>Você Digitou: {{ nome }}</p>

      <input type="text" [(ngModel)]="pessoa.nome" />
      <input type="text" [(ngModel)]="pessoa.idade" />
      <p>Nome: {{ pessoa.nome }}. Idade: {{ pessoa.idade }}</p>

    </div>

  </article>

-->
  <article>
    <h3>Input/Output Properties</h3>
  
    <app-input-property [nome]="nome"></app-input-property>
  </article>

</section>