<h5>Criar/Editar</h5>

<div class="row">
  <div class="input-field col s12">
    <label for="id" class="active">ID</label>
    <input disabled [(ngModel)]="aluno.id" id="id" type="text"
      class="validate">
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <label for="nome" class="active">Nome</label>
    <input id="nome" [(ngModel)]="aluno.name" type="text" class="validate">
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <label for="email" class="active">E-mail</label>
    <input id="email" [(ngModel)]="aluno.email" type="email" class="validate">
  </div>
</div>