<h1>Com Pipes</h1>
<p>{{ livro.titulo | camelCase }}</p>
<p>{{ livro.rating | number:'.2' }}</p>
<p>{{ livro.numPaginas }}</p>
<p>{{ livro.preco | currency:'BRL':true }}</p>
<p>{{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>

<h1>Sem Pipes</h1>
<p>{{ livro.titulo }}</p>
<p>{{ livro.rating }}</p>
<p>{{ livro.numPaginas }}</p>
<p>{{ livro.preco }}</p>
<p>{{ livro.dataLancamento }}</p>

<h1>Pipe Puro</h1>
<input type="text" #livroAdd>
<button (click)="addLivro(livroAdd.value)">AdicionarLivro</button>
<br>
<label for="filtro">Filtro: </label>
<input type="text" id="filtro" [(ngModel)]="filtro">
<br>
<div *ngFor="let liv of livros | filtroArray:filtro">
    {{ liv }}
</div>